.big-title a {
    background-color: gold;
    display: flex;
    /* Make the element a flex container */
    justify-content: center;
    /* Center the element horizontally */
    text-decoration: none;
}


header {
    background-color: #333;
    color: red;
}

nav ul {
    /* No dots next to listed items */
    list-style: none;
    padding: 0;
    display: flex;
}

/* This keeps the listed items seperated equally */
nav li {
    margin: auto;
}

nav a {
    font-size: large;
    color: pink;
    /* No underline */
    text-decoration: none;
}

.home-page-title {
    background-color: turquoise;
    text-align: center;
    width: fit-content;
    position: relative;
    left: 160px;
    padding: 5px;

}

.main-pizza-post {
    margin: auto;
    background-color: silver;
    padding-left: 20px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    text-align: left;
}

.new-pizza {
    background-color: silver;
    padding-left: 20px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
}

.new-pizza-title {
    color: black;
    text-align: center;
}

.info {
    background-color: silver;
    padding-left: 20px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    text-align: center;
    align-items: center;
}

.info p {
    text-align: center;
    width: 50%;
    position: relative;
    left: 317px;
}

.footer {
    background-color: #333;
    color: pink;
    padding-left: 10px;
    text-align: center;
}

.blank {
    background-color: gold;
    text-align: right;
    padding-right: 5px;
}

.blank a {
    text-decoration: none;
}