{% extends 'base.html' %}
{% block content %}
<h1 class="home-page-title">Pizza lovers unite! Read and share your thoughts on the best pizza joints.</h1>
<div class="main-pizza-post">
    {% for post in pizza_posts %}
    <h2>{{ post.name }}</h2>
    <h3>{{ post.city }}</h3>
    <h3>{{ post.state }}</h3>
    <p>{{ post.comment }}</p>
    <h3>Rating: {{ post.rating }}</h3>
    <p>Will you be returning: {% if post.would_return %}Yes{% else %}No{% endif %}</p>
    <p>Published: {{post.published_date}}</p>
    <p>----------------------------------</p>
    {% endfor %}
</div>
{% endblock content %}