{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="info">
        <h1>Information Page</h1>
        <p>
            Welcome to "The Pizza Post", a simple website built using the Django web framework that allows users to
            share
            their experiences at different pizza places. Whether you're a pizza connoisseur looking for the best slice
            in
            town or just want to find a new spot to grab a pie, this website is the perfect place to find and share
            recommendations. Simply start posting about your favorite pizza joints. You can add
            details about the atmosphere, the quality of the pizza, and any other comments or observations you have. You
            can
            also browse for other user's reviews to find the perfect pizza place for your next meal. Thanks for
            visiting "The Pizza Post" and we hope you find it helpful in your quest for the perfect slice!
        </p>
    </div>
</body>

</html>
{% endblock content %}